.wrapper {
  background-color: gray;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.board {
  --cell-size: 20vmin;
  --cell-gap: 2vmin;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 20vmin);
  grid-template-rows: repeat(4, 20vmin);
  gap: var(--cell-gap);
  border-radius: 10px;
}

.item {
  background-color: darkgray;
  border-radius: 10px;
}

.work-item {
  --y: 1;
  --x: 3;
  position: absolute;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)));
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vmin;
  font-size: 5vmin;
  font-size: 5vmin;
  height: 20vmin;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  transition: 100ms;
  animation: show 200ms;
}

@keyframes show {
  0% {
    opacity: 0.5s;
    transform: scale(0);
  }
}
