.authorization__menu {
  display: none;
  position: fixed;
  right: 10px;
  top: 80px;
  width: 80px;
  font-size: 15px;
  text-align: center;
  background-color: $color-background;
  box-sizing: border-box;
  @media (max-width: $tablet-width) {
    right: 80px;
  }
}

.profile {
  font-weight: 700;
  padding: 5px;
}

.log-in {
  height: 40px;
  width: 80px;
  vertical-align: initial;
  text-align: center;
  line-height: 3.5;
  cursor: pointer;
}
.register {
  height: 46px;
  width: 80px;
  vertical-align: initial;
  text-align: center;
  line-height: 2.2;
  cursor: pointer;
}

.authorization__menu--active {
  display: block;
}
