.pagination__button {
  width: 16px;
  height: 16px;
  margin: 40px 10px 40px 0;
  background-color: $color-primary;
  border-radius: 50px;
}
.pagination__button--active {
  background-color: $color-button-active;
}
.seasons__wrap{
    display: inline;
    position: relative;
}
.seasons__radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.favourites__checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: black;
}

.favourites__checkmark::after{
    content: "";
    position: absolute;
    display: none;
  }