.title::after {
  content: "";
  margin: 18px auto;
  display: flex;
  width: 50px;
  height: 1px;
  background-color: $color-primary;
}

.footer__line {
  margin: 0 20px 44px 20px;
  width: 95%;
  height: 1px;
  background-color: $color-background;
}

.authorization__line {
  margin: 0 0 0 20px;
  width: 40px;
}

.pop-up__close_menu {
  position: relative;
  left: 216px;
  top: 45px;
}

.close_menu__line {
  width: 22px;
  height: 3px;
  background-color: $color-border;
}

.close_menu__line:first-child {
  transform: translateY(-6px) rotate(-45deg);
}
.close_menu__line:last-child {
  transform: translateY(-9px) rotate(45deg);
}
