.about__text {
  text-align: center;
  p {
    margin: 41px 0 20px 0;
    padding: 0 20px;
  }
}

.about__loyalt3 {
  display: flex;
  flex-wrap: wrap;
}

.about__img {
  padding: 0 4px 0 20px;
}

.about__pagination {
  display: flex;
  justify-content: center;
}

@media (max-width: $tablet-width) {
  .about__text {
    p {
      margin: 41px 0 20px 0;
      padding: 0 20px;
    }
  }
  .about__loyalt3_img {
    justify-content: center;
  }
  .about__img {
    padding: 0;
  }
  .about__img2,
  .about__img3 {
    display: none;
  }
}
