.about__text {
  text-align: center;
  p {
    margin: 50px 0 27px 0;
  }
}

.about__loyalt3 {
  display: flex;
  flex-wrap: wrap;
}

.about__img {
  padding: 0 4px 0 20px;
}

.about__pagination {
  display: flex;
  justify-content: center;
}
