.contacts {
  margin-bottom: 55px;
  h4 {
    margin: 0 0 50px 0;
  }
  h4.contacts__container_title-bottom {
    margin: 48px 0 29px 0;
  }
  p {
    margin-bottom: 36px;
  }
}

@media (max-width: $tablet-width) {
  .contacts__img_map {
    margin: 70px auto 0 auto;
  }
  .contacts__img_map_img {
    width: 100%;
  }
}
