.footer__item_location {
  margin-top: 20px;
}

.footer__social-media_list {
  display: flex;
  padding: 0;
  margin-bottom: 30px;
}
.footer__list_item {
  margin-right: 16px;
}
.footer__item_text {
  margin: 20px 0 0 0;
}
.footer__item_text-bottom {
  margin-top: 10px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.footer__container_item-center{
    margin: 0 0px 47px 53px;
}