//wrapper, loyalt

.wrapper {
  max-width: $content-width;
  margin: 0 auto;
}
.wrapper__footer {
  background-color: $color-primary;
}
//loyalt
.loyalt2 {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
